/* Definisi warna yang digunakan */
:root {
    /* Variabel warna */
    --warna: white;
    /* Warna */
    --warna0: black;
    /* Warna  */
    --warna1: #22303F;
    /* Warna latar belakang */
    --warna2: #E7E8E7;
    /* Warna text 1 */
    --warna3: #8FBFDA;
    /* Warna text 2 */
    --warna4: #206485;
    /* Warna button latar belakang */
    --warna5: #394A56;
    /* Warna hover button latar belakang  */

}

/* Styling Kartu Galeri */
.GALERY .card {
    position: relative;
    /* Menempatkan elemen dalam posisi relatif untuk manipulasi visual */
    overflow: hidden;
    /* Memastikan elemen di luar batas kartu tidak terlihat */
    border-radius: 10px;
    /* Membuat sudut kartu melengkung */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Menambahkan animasi transisi pada transformasi dan bayangan */
}

.GALERY .card:hover {
    transform: scale(1.2);
    /* Memperbesar ukuran kartu saat hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    /* Memberikan efek bayangan pada kartu */
    z-index: 5;
    /* Memastikan kartu yang di-hover berada di atas elemen lainnya */
    object-fit: initial;
    /* Menampilkan gambar tanpa terpotong */
}

.GALERY .card img {
    width: 100%;
    /* Memastikan gambar memenuhi lebar kartu */
    height: calc(20vw);
    /* Tinggi gambar dihitung berdasarkan 20% dari lebar viewport */
    filter: grayscale(70%);
    /* Menambahkan efek grayscale (hitam-putih) pada gambar */
    transition: filter 1s ease;
    /* Menambahkan animasi transisi saat filter berubah */
    height: 450px;
    /* Atur tinggi seragam */
    object-fit: cover;
    /* Memastikan gambar menyesuaikan dimensi tanpa distorsi */
}

.GALERY .card:hover img {
    filter: grayscale(0);
    /* Menghapus efek grayscale saat kartu di-hover */
}

/* Refleksi */
.GALERY .card .reflection {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    opacity: 0.3;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.15));
}

/* Ukuran untuk layar tablet */
@media (max-width: 768px) {
    .GALERY .card img {
        height: calc(25vw);
        /* Tinggi dihitung berdasarkan 25% dari lebar viewport */
    }
}

/* Ukuran untuk layar ponsel */
@media (max-width: 576px) {
    .GALERY .card img {
        height: calc(30vw);
        /* Tinggi dihitung berdasarkan 30% dari lebar viewport */
    }
}